<form action="/register" method="POST">
<h1>REGISTRE UMA NOVA PESSOA</h1>
<label for="person_name">Nome</label>
<input type="text" name="person_name" placeholder="Digite o nome">
<label for="person_age">Idade</label>
<input type="text" name="person_age" placeholder="Digite sua idade">
<label for="person_email">Email</label>
<input type="text" name="person_email" placeholder="Digite seu email">
<input type="submit">
</form>