<div id="person-page">
    <a href="/form">Voltar</a>
    <div class="container">
        <h1>{{person.person_name}}</h1>
        <p>id: {{person.idperson}}</p>
        <p>idade:{{person.person_age}}</p>
        <p>email:{{person.person_email}}</p>
    </div>
</div>